<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="static/scripts/status-parameters.js"></script>
    <script src="static/scripts/signup_script.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/styles/status.css">
    <link rel="stylesheet" type="text/css" href="../static/styles/signup_form.css">
    <title>CarBnR</title>
</head>
<body>
    <div id="status"></div>
    <form class="form" id="createAccountForm" onsubmit="createAccount()">
        <p class="title">Sign up </p>
        <p class="message">Sign up now to be able to book a car. </p>
        <div class="flex">
            <label>
                <input class="input" type="text" id="firstname" placeholder=" " required="">
                <span>First name</span>
            </label>

            <label>
                <input class="input" type="text" id="lastname" placeholder=" " required="">
                <span>Last name</span>
            </label>
        </div>  
        <label>
            <input class="input" type="email" id="email" placeholder=" " required="">
            <span>Email</span>
        </label> 
        
        <label>
            <input class="input" type="password" id="password" placeholder=" " required="">
            <span>Password</span>
        </label>
        
        <label>
            <input class="input" type="password" id="confirmPassword" placeholder=" " required="">
            <span>Confirm password</span>
        </label>
        
        <button class="submit" type="submit">Submit</button>
        <p class="signin">Already have an account? <a id="loginLink" href="login.html">Log in</a> </p>
    </form>
    <script>
      // Function to get URL parameters
      function getURLParameter(name) {
          const urlParams = new URLSearchParams(window.location.search);
          return urlParams.get(name);
      }

      // Function to append parameters to the login page URL
      function updateLoginLink() {
          const loginLink = document.getElementById("loginLink");
          const carId = getURLParameter("carId");

          if (carId) {
              loginLink.href = `login.html?carId=${carId}`;
          }
      }

      // Call the function when the page loads
      window.onload = updateLoginLink;
    </script>
</body>
</html>
